.slider .slider-item{
    display: none;
    animation: reveal .5s ease-in-out;
  }
  .slider .slider-item.active {
    display: block;
  }
  .slider-item>img{
   width: 100%;
  }
  .slider .dots {
    text-align: center;
    padding: 10px;
  }
  .slider .dots li {
    cursor: pointer;
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 1px 5px;
    margin: 0 10px ;
    line-height: .5;
    border-radius: 50%;
    text-indent: -9999px;
    opacity: .5;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
  }

  .slider .dots li.active{
    opacity: 1;
  }
  @keyframes reveal{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }