* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Exo 2", sans-serif; */
  font-family: "Montserrat", sans-serif;
  /* font-family: "Roboto Condensed", sans-serif; */
}

body {
  background: #fff;
}

/* --------------Nav-bar------------ */

nav {
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
  height: 42px;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  left: 0;
}

nav > div {
  font-size: 12px;
  color: #fff;
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

nav .options {
  width: 100%;
  height: 350px;
  background: #2998ff72;
  background: #161617;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0;
  display: flex;
  padding-top: 5rem;
  padding-left: 5rem;
  justify-content: flex-start;
  display: none;
}
.options > div > .box-head {
  font-size: 12px;
  color: #999;
}
.options > div {
  display: flex;
  margin-right: 2rem;
  margin-left: 2rem;
  flex-direction: column;
}
.options > div > a {
  color: #eaeaea;
  text-decoration: none;
  padding-top: 10px;
}
.options > .box-1 > a {
  font-size: 20px;
  font-weight: 500;
}
.options > .box-2 > a {
  font-size: 12px;
  font-weight: 500;
}
#logo > h2 {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#logo img {
  margin-left: -7px;
  opacity: 0.9;
  width: 38px;
}

/* ----------------Search------------------- */
.fd-column{
  flex-direction: column;
}

.search-box{
margin-bottom: 1rem;
display: flex;
align-items: center;
}

.search-box>input{
  border: none;
  outline: none;
  background: none;
  margin-left: 1rem;
  width: 90%;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #BCBCC0;
}
/* ------------------Bag---------------------------- */
#bag-info{
  margin-bottom: 1rem;
}
#bag-info>p{
margin-top: 1rem;
color: #bcbcbc;
}
#bag-info>p>a{
color: #2997FF;
margin-right: 1rem;
font-size: 14px;
font-weight: 400;
}

/*----------------- product-css here ----------------- */
body,
html {
  height: 100%;
  margin: 0;
}
#product-container {
  display: flex;
  width: 100%;
  padding: 100px;
  /* margin-left: 70px; */
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#product-container > div {
  text-align: center;
  /* display: flex; */

  width: 30%;
  padding: 20px;
}
#product-container > div > img {
  padding-bottom: 20px;
  padding-top: 20px;
}
#product-container > div > button {
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(72, 72, 238);
}
h1 {
  margin-top: 20px;
  font-weight: 400;
  /* border: 1px red solid; */
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 50px;
}
#product-container > div > img:hover {
  transform: scale(0.9);
}
#product-container > div > button:hover {
  transform: scale(1.3);
}
#product-container > div > p {
  padding-bottom: 20px;
}
#product-container > div > h4 {
  padding-bottom: 20px;
}
.icon{
  width: 40px;
}
/* ------------------Footer--------------------- */
footer{
  padding-top: 1px;
  margin-top: 3rem;
  background-color: #F5F5F7;
}
footer>div{
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  color: #555;
}
footer>div>p>a{
  color: grey;
}
footer>div>p{
  color: #6E6E73;
  font-size: 12px;
  margin-bottom: 1rem;
  word-break: keep-all;
}
footer>div:nth-child(2){
border-bottom: 1px rgb(174, 174, 174) solid;
}
.ch{
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ch>div{
  font-size: 12px;
  padding: 10px;
}

.ch>div:nth-child(1)>a{
  color: rgb(216, 216, 216);
  text-decoration: none;
}
.ch>div:nth-child(2)>a{
  color: rgb(216, 216, 216);
  text-decoration: none;
}
.ch>div:nth-child(4)>a{
  color: rgb(216, 216, 216);
  text-decoration: none;
}
.ch>div:nth-child(5)>a{
  color: rgb(216, 216, 216);
  text-decoration: none;
}
.copyright{
  font-size: 12px;
  padding-bottom: 1rem;
  margin: 0 auto;
  width: fit-content;
}
/* --------------------Responsive------------------- */

@media only screen and (max-width: 1100px) {
  nav{
      justify-content: space-between;
  }
  nav>div:nth-child(12){
      margin-right: -250px;
      /* border: solid; */
  }
  .item {
    display: none;
  }
  body,
html {
  height: 100%;
  margin: 0;
}
  #product-container {
    display: grid;
    width: 100%;
    padding: 100px;
    /* margin-left: 70px; */
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   
  }

  #product-container > div {
    text-align: center;
    /* display: flex; */
  
    width: 70%;
    padding: 20px;
  }
  #product-container > div > img {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #product-container > div > button {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(72, 72, 238);
  }
  h1 {
    margin-top: 20px;
  
    /* border: 1px red solid; */
    color: black;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 50px;
  }
  #product-container > div > img:hover {
    transform: scale(0.9);
  }
  #product-container > div > button:hover {
    transform: scale(1.3);
  }
  #product-container > div > p {
    padding-bottom: 20px;
  }
  #product-container > div > h4 {
    padding-bottom: 20px;
  }
  .icon{
    width: 40px;
  }
}