* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Exo 2", sans-serif; */
  font-family: "Montserrat", sans-serif;
  /* font-family: "Roboto Condensed", sans-serif; */
}

body{
    background: #fff;
}

/* --------------Nav-bar------------ */

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    height: 42px;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    left: 0;
}

nav > div {
  font-size: 12px;
  color: #fff;
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

nav .options{
    width: 100%;
    height: 350px ;
    background: #2998ff72;
    background: #161617;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0;
    display: flex;
    padding-top: 5rem;
    padding-left: 5rem;
    justify-content: flex-start;
    display: none;
}
#search>.options{
    padding-bottom: 1rem;
    height: fit-content;
}
#search-result>a{
 color: #c0c0c0; 
}
#search-result>a:hover{
 text-decoration: underline;
 color: #c0c0c0; 
}

.options>div>.box-head{
    font-size: 12px;
    color: #999;
}
.options>div{
    display: flex;
    margin-right: 2rem;
    margin-left: 2rem;
    flex-direction: column;
}
.options>div>a{
    color: #eaeaea;
    text-decoration: none;
    padding-top: 10px;
}
.options>.box-1>a{
  font-size: 20px;
  font-weight: 500;
}
.options>.box-2>a{
  font-size: 12px;
  font-weight: 500;
}

#logo>h2{
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#logo img{
    margin-left: -7px;
    opacity: 0.9;
    width: 38px;
}

/* ----------------Search------------------- */
.fd-column{
    flex-direction: column;
}

.search-box{
 margin-bottom: 1rem;
 display: flex;
 align-items: center;
}

.search-box>input{
    border: none;
    outline: none;
    background: none;
    margin-left: 1rem;
    width: 90%;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #BCBCC0;
}
/* ------------------Bag---------------------------- */
#bag-info{
    margin-bottom: 1rem;
}
#bag-info>p{
  margin-top: 1rem;
  color: #bcbcbc;
}
#bag-info>p>a{
  color: #2997FF;
  margin-right: 1rem;
  font-size: 14px;
  font-weight: 400;
}

/* --------------Section-1------------ */

#section-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #000;
}
.banner-img{
  width: 100%;
}
.banner-img>img{
  width: 100%;
}

.headings{
    margin-top: 5rem;
    margin-bottom: 3rem;
    color: #ffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.headings>h1{
    font-size: 40px;
}
.headings>*{
    padding: 4px;
}
.headings>h2{
    font-size: 25px;
}
.headings>.links>a{
    color: #0066CC;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 10px;
}
.links>a:hover{
  text-decoration: underline;
}

/* --------------Section-2----------- */

#section-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
}
#section-2>.headings{
    text-align: center;
    color: #333;
}
#section-2>.banner-img{
  width: 60%;
  margin: 0 auto;
}
#section-2{
    padding-bottom: 4rem;
}


/* --------------Section-3----------- */

#section-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #000;
}
#section-3>.headings{
    text-align: center;
    color: #fff;
}
#section-3 a{
  font-size: 20px;
  color: #2997FF;
}
#section-3>.headings>h3{
    color: #CC2127;
    letter-spacing: 1.5px;
}

#section-3>.banner-img{
  width: 60%;
  margin: 0 auto;
}


/* --------------Section-4----------- */

#section-4{
    display: flex;
    align-items: center;
    background: #000;
}
#section-4>.box-1,#section-4>.box-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#section-4>.box-1{
  background: #fff;
}

#section-4>.box-1>.headings{
  color: #333 !important;
  background: #fff;
}
#section-4>div h2{
    font-size: 20px;
    font-weight: 500;
}

#section-4>.box-2{
  color: #fff;
  background: #000;
}
#section-4>.headings{
    text-align: center;
    color: #fff;
}
#section-4>div a{
  font-size: 18px;
}

#section-4>.banner-img{
  width: 60%;
  margin: 0 auto;
}

/* ----------------------Section-5-------------- */

#section-5{
display: flex;
margin-top: 1rem;
align-items: center;
}
#section-5>div{
 width: 50%;
}
#section-5>div>img{
 width: 100%;
 height: 500px;
 object-fit: cover;
}

/* ----------------------Section-6-------------- */
#section-6{
display: flex;
margin-top: 12px;
}
#section-6>div{
 width: 50%;
}
#section-6>div>img{
    width: 100%;
    height: 500px;
    object-fit: cover;
 }
 /* -----------------Section-7------------------ */
 #section-7{
    margin-top: 5rem;
 }

/* ------------------Footer--------------------- */
footer{
    padding-top: 1px;
    margin-top: 3rem;
    background-color: #F5F5F7;
}
footer>div{
    padding: 30px;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    color: #555;
}
footer>div>p>a{
    color: grey;
}
footer>div>p{
    color: #6E6E73;
    font-size: 12px;
    margin-bottom: 1rem;
    word-break: keep-all;
}
footer>div:nth-child(2){
 border-bottom: 1px rgb(174, 174, 174) solid;
}
.ch{
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ch>div{
    font-size: 12px;
    padding: 10px;
}

.ch>div:nth-child(1)>a{
    color: rgb(216, 216, 216);
    text-decoration: none;
}
.ch>div:nth-child(2)>a{
    color: rgb(216, 216, 216);
    text-decoration: none;
}
.ch>div:nth-child(4)>a{
    color: rgb(216, 216, 216);
    text-decoration: none;
}
.ch>div:nth-child(5)>a{
    color: rgb(216, 216, 216);
    text-decoration: none;
}
.copyright{
    font-size: 12px;
    padding-bottom: 1rem;
    margin: 0 auto;
    width: fit-content;
}


/* --------------------Responsive------------------- */

@media only screen and (max-width: 1100px) {
    nav{
        justify-content: space-between;
    }
    nav>div:nth-child(12){
        margin-right: -250px;
        /* border: solid; */
    }
    .item {
      display: none;
    }
    
  }